#
# Modules
#

# Sets sane Zsh built-in environment options.
zmodule environment
# Applies correct bindkeys for input events.
zmodule input
# Utility aliases and functions. Adds colour to ls, grep and less.
zmodule utility

#
# Prompt
#

# Exposes to prompts how long the last command took to execute, used by asciiship.
zmodule duration-info
# Exposes git repository status information to prompts, used by asciiship.
zmodule git-info
# Exposes current working directory
zmodule promt-pwd
# gitster minimalistic
zmodule gitster

#
# Modules that must be initialized last
#

# Fish-like syntax highlighting for Zsh.
zmodule zsh-users/zsh-syntax-highlighting
# Fish-like autosuggestions for Zsh.
zmodule zsh-users/zsh-autosuggestions
